<!DOCTYPE html>
<html>
    <head>
        <title>ErrorPage</title>
    </head>
    <body>
        <h3>Log In Nicht Erfolgreich</h3>
        <p>Der Name <%vorname%> <%nachname%> oder das Passwort ist inkorrekt.</p>
        <a href="/login2">erneut versuchen</a>
    </body>
    <footer>
        <p>hier kommt impressum und copyright und so hin</p>
    </footer>
</html>