<!DOCTYPE html>
<html>
    <head>
        <title>Overview</title>
    </head>
    <body>
        <h2>Willkommen zurück,
            <%= vorname %> <%= nachname %>!</h2>
        <h3>Übersicht</h3>
        <h4>das hier ist der eigentliche Shop bzw. die Hauptseite</h4>
        <p>hier kommt man nach dem Login hin</p>
        <p>hier muss es einen "Abmelden" Button/Link geben, der einen zur Willkommensseite führt</p>
        <a href="/logout">Log Out</a>
        <p> hier befinden sich lauter Links, die zur Detailansicht führen</p>
        <a href="/detail">eine Detailansicht</a>
       
       <!-- Das ist die Tabelle aus dem Beispiel aber noch verstehe ich das nicht ganz
        <table>
            <% //for (let i = 0; i < liste.length; i++) { %>
                <tr>
                    <td> <% //liste[i] %> </td>
                    <td> <a href="/detail/<% //=i%>">Detail...</a> </td>
                </tr>
            <% //} %>
        </table>
        -->
        
    </body>
    <footer>
        <p>hier kommt impressum und copyright und so hin</p>
    </footer>
</html>